.App {
  text-align: center;
}

input[type=text],input[type=password]{
  width: 30px;
  margin: 0 10px;
  text-align: center;
  font-family: arial;
}

input.user{
  width: 300px;
  margin: 5px 0;
  text-align: center;
  font-family: arial;
}

.login{
  border: 1px solid grey;
  padding: 15px;
  width: 350px;
  margin: 30px auto;
}

button{
  margin-top: 25px;
  background-color: white;
}

span{
  margin: 0 10px;
  height: 16px;
  padding: 1px 0;
  display: inline-block;
}

span.none{
  padding: 0;
  margin: 0;
}

ol{
  margin: 30px auto;
  width: 200px;
  display: block;
  text-align: left;
}