.App {
  text-align: center;
}

input[type=text]{
  width: 30px;
  margin: 0 10px;
  text-align: center;
  font-family: arial;
}

button{
  background-color: white;
}

span{
  margin: 0 10px;
  height: 16px;
  padding: 1px 0;
  display: inline-block;
}

span.none{
  padding: 0;
  margin: 0;
}

ol{
  margin: 30px auto;
  width: 200px;
  display: block;
  text-align: left;
}